.homepage {
  display: flex;
  flex-direction: column;
  position: fixed;
  margin-top: 5%;
  margin-left: 40%;
}

.homepage__main {
  font-size: xx-large;
  font-weight: 700;
  text-align: center;
  color: white;
  width: 550px;
  background-color: rgb(58, 57, 57);
  border-radius: 75px;
  /* margin-left: 15%; */
  padding: 5px;
}

.homepage__secondary {
  font-size: x-large;
  font-weight: 700;
  text-align: center;
  color: white;
  background-color: rgb(58, 57, 57);
  border-radius: 10px;
  margin-left: -10%;
  padding: 5px;
}
